@page "/"
<PageTitle>Swappa - Home</PageTitle>

<div class="container">
    <div class="row g-3 my-3 d-flex justify-content-evenly flex-wrap align-items-center">
        @for(int i = 1; i <= 3; i++)
        {
            <VehicleCard Vehicle="new VehicleToReturnDto()"></VehicleCard>
        }
    </div>
</div>