@page "/"

@inject IToastService Toast
@inject IModalService Modal

<PageTitle>Swappa - Home</PageTitle>
<h1>Hello, world!</h1>

@code {
    private async Task ShowConfirmationModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", 1);

        var confirmationModal = Modal.Show<ConfirmDelete>("Confirm Delete");
        var result = await confirmationModal.Result;
    }
}
