@page "/"
<PageTitle>@_pageTitle</PageTitle>

<div class="container">
  <div class="card box-shadow-inset m-auto">
      <EditForm Model="Query" method="post" OnValidSubmit="Search" FormName="searchVehicle">
        <VehicleFilter Query="@Query" />
        <div class="row w-75 m-auto my-3">
            <div class="form-floating px-1 col-md-12 col-lg-7 py-1 my-1">
                <InputText 
                    @bind-Value="Query.SearchTerm" 
                    class="form-control" 
                    placeholder="Enter text"
                    aria-required="true" 
                />
                <label for="Make" class="form-label">Enter text</label>
            </div>
            <div class="form-floating px-1 col-md-12 col-lg-5 py-1">
                <div class="row">
                    <div class="col-md-12 col-lg-6 my-1">
                        <Button Color="ButtonColor.Primary" Outline="true" Class="p-3 w-100 d-flex justify-content-center" Type="ButtonType.Submit">
                            <Icon Name="IconName.Search"></Icon>
                            <span class="hide-text px-1">Search</span>
                        </Button>
                    </div>
                    <div class="col-md-12 col-lg-6 my-1">
                        <Button Color="ButtonColor.Secondary" Outline="true" Class="p-3 w-100 d-flex justify-content-center" @onclick=@(async () => await Clear())>
                            <Icon Name="IconName.Trash"></Icon>
                            <span class="hide-text px-1">Clear</span>
                        </Button>
                    </div>
                </div>
            </div>
        </div>
      </EditForm>
  </div>
  <div class="row g-1 my-3 d-flex justify-content-evenly flex-wrap align-items-center">
        @if(_isLoading)
        {
            <div class="text-center align-self-center top-50 m-auto mt-5">
                <Spinner Type="SpinnerType.Grow" Size="SpinnerSize.Large" Color="SpinnerColor.Primary" />
            </div>
        }
        else if(Vehicles.Data.IsNotNullOrEmpty())
        {
            @foreach(var vehicle in Vehicles.Data)
            {
                <VehicleCard Vehicle="vehicle"></VehicleCard>
            }
        }
        else
        {
            <Alert Color="AlertColor.Info">
                <h4 class="alert-heading text-center">No record found!</h4>
                <p class="text-center">
                    <Icon Name="IconName.InfoCircle"></Icon>  Your search criteria returned no record. Please modify and try again.
                </p>
            </Alert>
        }
  </div>
</div>

@*(&#x20A6;)*@