@page "/"

@inject IToastService Toast
@inject IModalService Modal

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<Spinner></Spinner>
<SurveyPrompt Title="How is Blazor working for you?" />

<button type="button" class="btn btn-danger" @onclick="@( async () => await ShowConfirmationModal())">Delete</button>

@code {
    private async Task ShowConfirmationModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", 1);

        var confirmationModal = Modal.Show<ConfirmDelete>("Confirm Delete");
        var result = await confirmationModal.Result;
    }
}
