<p class="m-0 py-1">
    <a class="text-muted fw-lighter text-decoration-none fst-italic d-flex align-items-center justify-content-between" style="font-size: 0.9rem;cursor: pointer;">
        <span>@Key: </span> <span style="font-weight: 100;">@Value</span>
    </a>
</p>