<div class="card box-shadow-inset">
    <div class="card-body">
        <p class="card-title text-muted fw-bold text-center">
            @CardTitle
        </p>
        <FeedbackRatingPill Background="@Background" PillContent="@PillContent"></FeedbackRatingPill>
    </div>
</div>