<PageTitle>@pageTitle</PageTitle>

<div class="row">
    <div class="box-shadow-inset border-radius-2rem p-3">
        <h3>
            <span class="text-danger" aria-hidden="true">Confirm Account Deactivation</span>
        </h3>
        <hr />
        <Alert Style="AlertStyle.Danger">
            <ChildContent><span class="fa fa-exclamation--triangle"></span> Are you sure you want to deactivate this account? 
                The account will be permanently deleted if not logged in within the next 90 days.
            </ChildContent>
        </Alert>
        <div class="row">
            <div class="col-md-0 col-lg-3"></div>
                <div class="col-md-12 col-lg-6 d-flex justify-content-center">
                    <div class="d-flex justify-content-center flex-column flex-md-row w-100">
                        <Button Color="ButtonColor.Danger" Outline="true" Class="mx-1 mt-1" disabled="@isLoading" @onclick="(async () => await ConfirmAsync())">
                            <span class="oi oi-delete" aria-hidden="true"></span> @buttonLabel
                        </Button>
                        <Button Color="ButtonColor.Secondary" Outline="true" Class="mx-1 mt-1" disabled="@isLoading" @onclick="( async () => await SharedService.CancelModalAsync(Instance))">
                            <span class="oi oi-arrow-left" aria-hidden="true"></span> Back
                        </Button>
                    </div>
                </div>
            <div class="col-md-0 col-lg-3"></div>
       </div>
    </div>
</div>
