<ul class="list-group list-group-flush">
    @foreach (var data in Data)
    {
        <li class="list-group-item @data.IsRead ? fw-normal : fw-bold">
            <span>@data.Name</span>
            <span>@data.Email</span>
            <span>@data.Message</span>
        </li>
    }
</ul>

@code {
    [Parameter]
    public List<ContactMessageToReturnDto>? Data { get; set; }
}
