<PageTitle>@pageTitle</PageTitle>

<div class="row">
    <div class="box-shadow-inset border-radius-2rem p-3">
        <h3>
            <span class="text-danger" aria-hidden="true">Delete User Feedback</span>
        </h3>
        <hr />
        <Alert Style="AlertStyle.Danger">
            <ChildContent><span class="fa fa-exclamation--triangle"></span> This action will delete this record.
            </ChildContent>
        </Alert>
        <div class="row">
            <div class="col-md-0 col-lg-2"></div>
                <div class="col-md-12 col-lg-8 d-flex justify-content-center">
                    <div class="d-flex justify-content-center flex-column flex-md-row w-100">
                        <Button Color="ButtonColor.Danger" Class="mx-1 mt-1" Outline="true" disabled="@isLoading" @onclick="(async () => await DoAsync())"><Icon Name="IconName.Trash" /> @buttonLabel </Button>
                        <Button Color="ButtonColor.Secondary" Class="mx-1 mt-1" Outline="true" disabled="@isLoading" @onclick="( async () => await SharedService.CancelModalAsync(Instance))"><Icon Name="IconName.ArrowLeft" /> Back </Button>
                    </div>
                </div>
            <div class="col-md-0 col-lg-2"></div>
       </div>
    </div>
</div>