@page "/profile"
@attribute [Authorize]

@if (!isLoading)
{
    <Spinner></Spinner>
}
else
{
    <div class="m-0">
        <div class="row py-3 d-flex justify-content-center">
            <div class="col-sm-0 col-md-3 col-lg-4"></div>
            <div class="col-sm-12 col-md-6 col-lg-4 profile-container box-shadow-inset mt-3">
                <div class="profile-mh-2 mt-3">
                    <p class="text-center">
                        <span class="oi oi-person border-2 text-center text-primary round-circle p-3" aria-hidden="true"></span>
                    </p>
                    <p class="text-muted fs-6 fw-bold text-center">@UserId</p>
                </div>
                <div class="profile-mh-1">
                    <h4 class="text-muted fw-bolder fs-6 my-0 py-0">Account</h4>
                    <BlueUnderlineOnePx />
                </div>
                <div class="profile-mh-3">
                    <h4 class="text-muted fw-bolder fs-6 my-0 py-0" style="color: #3B71CA;">Support</h4>
                    <BlueUnderlineOnePx />
                </div>
            </div>
            <div class="col-sm-0 col-md-3 col-lg-4"></div>
        </div>
    </div>
}@*
else
{
    <Alert Style="AlertStyle.Danger">
        <ChildContent>No data to display.</ChildContent>
    </Alert>
}*@

@code {
    bool isLoading = true;
}
