.profile-container {
    border-radius: 2rem !important;
    min-height: 30vh !important;
}

.border-2 {
    border: 2px solid #3B71CA !important;
}

.profile-mh-1 {
    min-height: 35vh !important;
}

.profile-mh-2 {
    min-height: 20vh !important;
}

.profile-mh-3 {
    min-height: 15vh !important;
}