@page "/profile"
@attribute [Authorize]

@if (!isLoading)
{
    <Spinner></Spinner>
}
else
{
    <div class="m-0">
        <div class="row py-3 d-flex justify-content-center">
            <div class="col-sm-0 col-md-3 col-lg-4"></div>
            <div class="col-sm-12 col-md-6 col-lg-4 profile-container border-2 mt-5">
                <div class="row profile-section">
                    <a src=""></a>
                    <p class="text-muted">Ojo Toba</p>
                </div>
                <div class="row profile-section">
                    <p class="text-muted">Account</p>
                </div>
                <div class="row profile-section">
                    <p class="text-muted">Support</p>
                </div>
                @*<div class="row m-0 p-0">
                    <div class="border bg-success col-sm-12 col-md-4">Left</div>
                    <div class="border bg-primary col-sm-12 col-md-8">Right</div>
                </div>*@
            </div>
            <div class="col-sm-0 col-md-3 col-lg-4"></div>
        </div>
    </div>
}@*
else
{
    <Alert Style="AlertStyle.Danger">
        <ChildContent>No data to display.</ChildContent>
    </Alert>
}*@

@code {
    bool isLoading = true;
    PaginatedListDto<RoleDto> result = null;
    async Task GetRoles()
    {
        try
        {
            result = await RoleService.GetRolesAsync();
        }
        finally
        {
            isLoading = false;
        }
    }
}
