.filter-toggler {
    display: none !important;
}

.display-filter {
    display: block !important;
}

.hide-text {
    display: block !important;
}

@media (max-width: 992px) {
    .filter-toggler {
        display: block !important;
    }

    .display-filter {
        display: none !important;
    }
}