<div class="px-5">
    <InputRadioGroup @bind-Value="RegType.Type">
        <InputRadio Value="SystemRole.User" /> @SystemRole.User.GetDescription()
        <br />
        <InputRadio Value="SystemRole.Merchant" /> @SystemRole.Merchant.GetDescription()
    </InputRadioGroup>
</div>