@page "/admin"
@attribute [Authorize(Roles = "Admin, SuperAdmin")]

<PageTitle>Admin. Center</PageTitle>
<div class="container mb-3">
  <div class="row g-3 my-3 d-flex justify-content-evenly flex-wrap align-items-center">
        <BackButton></BackButton>
        @if(_isFeedbackLoading || _isUserLoading || _isVehicleLoading)
        {
            <div class="text-center align-self-center top-50 m-auto">
                <Spinner Type="SpinnerType.Grow" Size="SpinnerSize.Large" Color="SpinnerColor.Primary" />
            </div>
        }
        else
        {
            <div class="row g-1 my-lg-0 my-md-1 d-flex justify-content-evenly flex-wrap align-items-center">
                <div class="col-12 col-lg-4 m-0">
                    <a class="px-1" style="cursor: pointer;text-decoration: none" href="admin/users">
                        <div class="card box-shadow-inset">
                            <div class="card-body d-flex">
                                <div class="px-3 d-flex align-items-center">
                                    <Icon Name="IconName.People" Color="IconColor.Light" Size="IconSize.x4" Class="bg-success p-2 align-self-center rounded"></Icon>
                                </div>
                                <div class="">
                                    <p class="card-title text-muted m-0 p-0">Registered Users</p>
                                    <p class="fw-bold p-0 m-0">@string.Format("{0:#,##}", UserDashboard.TotalCount)</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 m-0">
                    <a class="px-1" style="cursor: pointer;text-decoration: none" href="admin/vehicles">
                        <div class="card box-shadow-inset">
                            <div class="card-body d-flex">
                                <div class="px-3 d-flex align-items-center">
                                    <Icon Name="IconName.Truck" Color="IconColor.Light" Size="IconSize.x4" Class="bg-success p-2 align-self-center rounded"></Icon>
                                </div>
                                <div class="">
                                    <p class="card-title text-muted m-0 p-0">Vehicles</p>
                                    <p class="fw-bold p-0 m-0">@string.Format("{0:#,##}", VehicleDashboard.TotalCount)</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4 m-0">
                    <a class="px-1" style="cursor: pointer;text-decoration: none" href="admin/feedbacks">
                        <div class="card box-shadow-inset">
                            <div class="card-body d-flex">
                                <div class="px-3 d-flex align-items-center">
                                    <Icon Name="IconName.ChatDotsFill" Color="IconColor.Light" Size="IconSize.x4" Class="bg-success p-2 align-self-center rounded"></Icon>
                                </div>
                                <div class="">
                                    <p class="card-title text-muted m-0 p-0">Users' Feedbacks</p>
                                    <p class="fw-bold p-0 m-0">@string.Format("{0:#,##}", FeedbackDashboard.TotalFeedbacks)</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <a href="admin/roles" class="mx-1 float-end text-decoration-none">
                    <Button Color="ButtonColor.Danger" Outline="true">
                        <Icon Name="IconName.ShieldShaded" /> Roles
                    </Button>
                </a>
                <a href="admin/messages" class="mx-1 float-end text-decoration-none">
                    <Button Color="ButtonColor.Secondary" Outline="true">
                        <Icon Name="IconName.ChatDots" /> Messages
                    </Button>
                </a>
            </div>
        }
    </div>
    <hr />
    <PriceRangeAndEngineLineCharts />
    <TopFiveVehiclesDoughnutChart />
    <FeedbackPiechart />
</div>