@using Swappa.Client.State
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a class="px-1" style="cursor: pointer;" @onclick="(async () => await ShowRegisterModal())">
                        <span class="fa fa-user-plus" aria-hidden="true"></span> Register
                    </a>
                    <a class="px-1" style="cursor: pointer;" @onclick="(async () => await ShowLoginModal())">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </a>
                </NotAuthorized>
                <Authorized>
                    <a class="px-1" style="cursor: pointer;" @onclick="(async () => await SharedService.LogoutAsync())">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </a>
                    <a class="px-1" href="vehicle/favorites" style="color: red;text-decoration:none;">
                        <Icon Name="IconName.HeartFill" Color="IconColor.Danger" Size="IconSize.x4"></Icon>
                        <sub>
                            @Favorites
                        </sub>
                    </a>
                    <a class="px-2" href="profile">
                        <span class="oi oi-person text-center round-circle p-1" aria-hidden="true"></span>
                    </a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts 
    Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
    Timeout="5"
    IconType="Blazored.Toast.Configuration.IconType.FontAwesome"
    SuccessClass="success-toast-override"
    SuccessIcon="fa fa-thumbs-up"
    ErrorIcon="fa fa-bug"
    WarningIcon="fa fa-warning"
    InfoIcon="fa fa-info-circle"
    ShowProgressBar="true"
    PauseProgressOnHover="true">
</BlazoredToasts>