@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="px-1" href="https://docs.microsoft.com/aspnet/">Register</a>
            <a class="px-1" href="https://docs.microsoft.com/aspnet/">Login</a>
            <a class="px-1" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
