@page "/unauthorized"

<PageTitle>Unauthorized</PageTitle>
<Alert Style="AlertStyle.Danger">
    <ChildContent><span class="oi oi-ban"></span> Sorry, but you're not authorized to access this page. <a href="/">Back to Home </a><span class="oi oi-ban"></span></ChildContent>
</Alert>