@page "/unauthorized"

<PageTitle>Unauthorized</PageTitle>
<Alert Color="AlertColor.Danger">
    <h4 class="alert-heading text-center">Unauthorized Access!</h4>
    <p class="text-center">
        <Icon Name="IconName.Ban" /> Sorry, but you're not authorized to access this page. <a href="/">Back to Home </a><Icon Name="IconName.Ban" />
    </p>
</Alert>